#image-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280;
  height: 720;
}

.title {
  text-align: center;
  font-family: 'Josefin Slab', sans-serif;
}

h2 {
  font-weight: 500;
  font-famiy: 'Quicksand', sans-serif;
}

.center {
  display: block;
  margin: 0 auto;
}

.column{
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  font-family: 'Quicksand', 'Nunito', sans-serif;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
